<div class="inner">

  <!-- <a href="/" class="logo">MATCH MAKER</a> -->
  <form action="/tomain" method="post">
    <button value="Kick Maker" class="logo">
      <img src="/public/images/logoblack.png" >
    </button>
  </form>
  <% if (loginTeam) { %>
  <div class="welcome">
    welcome!
    <span class="wcTeamname">
      <%= loginTeam.teamname %>
    </span>
  </div>
  <% } %>
  <ul class="main-menu">
      <% if(loginTeam){ %>
        <li class="menu">
          <div class="menu__name">My page</div>
          <div class="menu__contents">
            <ul class="inner">
                <li>
                  <a href="/game/registered-match">등록한 경기</a>
                </li>
                <li>
                  <a href="/game/my-match">매칭된 경기</a>
                </li>
                <li>
                  <a href="/game/requested-match">요청된 경기</a>
                </li>
                <li>
                  <a href="/game/">요청한 경기</a>
                </li>
                <li> 
                  <a href="/team/team-info">팀 정보</a>
                  <!-- 팀 정보 -->
                </li>
                <!-- 경기 후기 -->
                <!-- 
                  <li> 
                  <a href="/team-review">후기 작성</a>
                </li>
                -->
            </ul>
          </div>
        </li>
        <li class="menu">
          <!--배열명 : notifications 
          [
            {
              notif_id: 1,
              match_id: 16,
              receive_userid: 2,
              request_userid: 10,
              request_teamname: 'FC바바'
              requesttype: '요청'
            }
          ] -->
          <div class="menu__name">
            Notifications
          </div>
          <div class="menu__contents">
            <ul class="inner">
              <li>
              <a href="/game/requested-match"> 까꿍</a> 
              </li>
              <% for (var i=0; i < notifications.length; i++) { %>
                <% if (notifications[i].requesttype == '요청' ) { %>
                  <li>
                    <a href="/game/requested-match">
                      <%= notification[i].request_teamname %>팀이 경기를 <%= notifications[i].requesttype %>하였습니다.
                    </a>
                  </li>
                <% } else if (notifications[i].requesttype == '수락' ) { %>
                  <li>
                    <a href="/game/requested-match">
                    <%= notifications[i].request_teamname %>팀이 경기를 <%= notifications[i].requesttype %>하였습니다.
                    </a>
                  </li>
                <% } %>
              <% } %>
            </ul>
          </div>
        </li>
        <li class="menu">
              <form action="/logout" method="post">
                <input type="submit" value="Logout" />
              </form>
        </li>

      <% } else { %> 
        <a class="signinBtn" href="/signin">Sign In</a>
      <% } %>     
    </ul>
</div>