<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;700&family=Raleway:wght@200;300;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/list.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="../public/javascripts/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>matched</title>
</head>
<body>
  <!-- 넘어오는 정보 형식: matches 배열
[
  {
    match_id: 101,
    home_userid: 2,
    away_userid: 11,
    match_date: 2023-05-29T15:00:00.000Z,
    match_time: '10:50',
    match_place: '동대문구',
    match_time_start: '08:53:00',
    match_time_end: '14:53:00',
    created: 2023-05-30T02:54:12.000Z,
    updated: null,
    establishment: '성립'
  }
]

성립된 배열 없는 경우 matches null값으로 넘어옴

매치 상세보기 페이지 만들거면
href="/match/<%=match_id%>"
태그로 넘어가도록 한번 해주세요..!
-->

<!--HEADER-->
  <header>
    <%- include ("./header.ejs") %>
  </header>

    <section class="matched">
      <h1>매치된 경기들</h1>
      <div class="matchedInfo__card">
        <div class="top">
          <div class="match_date">날짜</div>
          <div class="match_place">장소</div>
          <div class="overlap_start"> 시작 시간</div>
          <div class="overlap_end"> 시작 시간</div>
          <div class="edit_match">경기 수정</div>
        </div>
        <% if (!matches) { %>
          <p>성립된 매치 없어유</p>
        <% } else { %>
          <% for (var i=0;  i < matches.length; i++) { %>
            <% var data = matches[i]; %>
            <div class="edit_match">
              <form id="editMatch" method="post" action="/request">

                <div class="match_date"><%= matches[i].match_date %></div>
                <div class="match_place"><%= matches[i].match_place %></div>
                <div class="overlap_start"><%= matches[i].overlap_start %></div>
                <div class="overlap_end"><%= matches[i].overlap_end %></div>

                <button class="enter fade-in" type="submit">
                  경기 수정
                </button>
              </form>
            </div>
        <%  } %>
      <%  } %>
    </section>
</body>
</html>