<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500;700&family=Raleway:wght@200;300;600&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../public/stylesheets/common.css">
  <link rel="stylesheet" href="../public/stylesheets/list.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="../public/javascripts/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>request</title>
</head>
<body>
  <!-- 넘어오는 정보 형식: matchinfo 배열

requesttype : 알림의 유형(요청or수락) , 이 페이지에는 요청 알림만 띄워야함
date: 경기날짜
RQteamname: 내게 경기 요청한 팀
RQplace: 경기 요청한 장소 (겹치는 장소)
RQstart: 요청된 시간 (겹치는 시간 맨앞)
OGplace: 내가 등록했던 장소
OGstart: 내가 등록한 시간 시작
OGend: 내가 등록한 시간 끝

 [
   {
     notif_id: 1,
     requesttype : '요청'
     match_id: 73,
     date: '2023-05-31',
     RQuserid : 10,
     RQteamname: 'FC바바',
     RQplace: '강동구,강북구',
     RQstart: '12:14',
     OGplace: '관악구,영등포구',
     OGstart: '21:44:00',
     OGend: '22:44:00'
   },
   {
     notif_id: 10,
     requesttype : '수락'
     match_id: 16,
     date: '2023-05-18',
     RQuserid : 1,
     RQteamname: 'FC도봉',
     RQplace: '강동구',
     RQstart: '16:14',
     OGplace: '강동구,강북구',
     OGstart: '12:14:00',
     OGend: '16:16:00'
   }
 ]
-->

<!--HEADER-->
  <header>
    <%- include ("./header.ejs") %>
  </header>

    <section class="matched">
      <h1>요청받은 경기 목록</h1>
      <div class="matchedInfo__card">
        <div class="top">
          <div class="date">날짜</div>
          <div class="RQplace">장소</div>
          <div class="RQstart">시작 시간</div>
          <div class="RQteamname">팀명</div>
          <div class="accept_match">경기 수락</div>
        </div>
        <% for (var i=0;  i < matchinfo.length; i++) { %>
          <% if (matchinfo[i].requesttype != '요청'){continue;}; %>
          <% var data = matchinfo[i]; %>
          <div class="accept">
            <form id="requestMatch" method="post" action="/match-accept">
              <input type="hidden" name="notif_id" value="<%= matchinfo[i].notif_id %>">
              <input type="hidden" name="date" value="<%= matchinfo[i].date %>">
              <input type="hidden" name="match_id" value="<%= matchinfo[i].match_id %>">
              <input type="hidden" name="RQuserid" value="<%= matchinfo[i].RQuserid %>">
              <input type="hidden" name="RQstart" value="<%= matchinfo[i].RQstart %>">
              <input type="hidden" name="RQplace" value="<%= matchinfo[i].RQplace %>">
              <div class="date"><%= matchinfo[i].date %></div>
              <div class="RQplace"><%= matchinfo[i].RQplace %></div>
              <div class="RQstart"><%= matchinfo[i].RQstart %></div>
              <div class="RQteamname"><%= matchinfo[i].RQteamname %></div>

              <!-- action /match-accept로 수정했어요!
              경기 수락 버튼 시 notif_id , match_id , RQuserid, RQstart, RQplace 다시 넘어오게 해주세요! (다 넘어와도 상관은 없음)
              만약 경기 거절 버튼 만든다면 post방식으로 /match-reject , 똑같이 위에 것들 넘어와야함  -->
              <button class="enter fade-in" type="submit">
                경기 수락
              </button>
            </form>
          </div>
      <%  } %>
    </section>
</body>
</html>