<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>작성 후기 확인 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/public/stylesheets/common.css">
  <link rel="stylesheet" href="/public/stylesheets/review_result.css">
  
</head>
<body>
  <!--HEADER-->
    <header>
      <%- include ("./header.ejs") %>
    </header>
    
  <!-- 후기 수정 섹션 -->
  <section class="teamReviewResult">
    <h1>경기 후기</h1>
    <div class="teamReviewResult__card">
          <!--value에 현재 로그인 되어있는 팀 정보 추가 필요-->
          <p class="title">
            <span class="material-symbols-outlined">info</span>
            매치 정보
          </p>
          <div class="matchInfo">
            <p>경기 일자: <%= matchResult.match_date %></p><br>
            <p>경기 장소: <%= matchResult.stadium %> </p><br>

            <div class="teams_info">
              <div class="winner">
                <img class="winner_logo" src="/files/<%= matchResult.winner.logo_image %>" alt="팀 로고 이미지">
                <div class="winner_teamname" >
                  <span class="material-symbols-outlined" style="color: #F1EA70">emoji_events</span>
                  <%= matchResult.winner.teamname %></div> 
              </div>
              <p class="vs">VS</p>
              <div class="loser">
                <img class="loser_logo" src="/files/<%= matchResult.loser.logo_image %>" alt="팀 로고 이미지">
                <div class="loser_teamname" ><%= matchResult.loser.teamname %></div> 
              </div>
  
            </div>
          </div>
            <!-- matches 정보 넣기 -->
          <!-- <input type="text" name="match_id" value=""><br> -->
          <p class="title">
            <span class="material-symbols-outlined"> navigate_next</span>
            경기 승리 팀: <%= matchResult.winner.teamname%>
          </p>

          <p class="title">
            <span class="material-symbols-outlined"> navigate_next</span>
            상대팀 경기 매너 평가
          </p>
          <% if (loginTeam.user_id == matchResult.home_userid) { %>
            <% switch (matchResult.away_received_manner) {
              case -2: %>
              <fieldset>
                <label>
                    <input type="radio" name="manner_rate" value='-2' checked/>
                    <span>매우 나쁨</span> 
                </label>
                <label>
                  <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                  <span>나쁨</span>
                </label>
                <label>
                  <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                  <span>보통</span>
                </label>
                <label>
                  <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                  <span>좋음</span>
                </label>
                <label>
                  <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                  <span>매우 좋음</span>
                </label>
              </fieldset>
              <% break;
              case -1: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" checked/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case 0: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" checked/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case +1: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" checked/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case +2: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" checked/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <%break;%>
            <% } %>

          <% } else if (loginTeam.user_id == matchResult.away_userid) { %> 
            <% switch (matchResult.home_received_manner) {
              case -2 : %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' checked/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case -1: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" checked/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case 0: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" checked/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case +1: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" checked/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" onclick="return(false);"/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <% break;
              case +2: %>
                <fieldset>
                  <label>
                      <input type="radio" name="manner_rate" value='-2' onclick="return(false);"/>
                      <span>매우 나쁨</span> 
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="-1" onclick="return(false);"/>
                    <span>나쁨</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="0" onclick="return(false);"/>
                    <span>보통</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+1" onclick="return(false);"/>
                    <span>좋음</span>
                  </label>
                  <label>
                    <input type="radio" name="manner_rate" value="+2" checked/>
                    <span>매우 좋음</span>
                  </label>
                </fieldset>
              <%break;%>
            <% } %>

          <% } %>


          
            
          <br>
      </div>
  </section>
  
</body>
</html>